<form action= "/routing/add" method = "post">
    <p>
        <label>Id </label><input value="" name="id" />
        <label>Name <input value="" name="name" />
        <label>Date <input value="" name="date" />
        <label>manner_of_death<input value="" name="manner_of_death" />
        <button type="submit"> Add info!</button>



    </p>
</form>

