<hr>
<h3>Please input arms category:</h3>

<form action= "/routing/search/by_arms_category" method = "post">
    <p>

        <label>Arms Category</label>
                    <select name="arms_category"  multiple>
<option value = "Blunt instruments"   >Blunt instruments</option>
<option value = "Electrical devices">Electrical devices</option>
<option value = "Explosives">Explosives</option>
<option value = "Guns">Guns</option>
<option value = "Hand tools">Hand tools</option>
<option value = "Multiple">Multiple</option>
<option value = "Other unusual objects">Other unusual objects</option>
<option value = "Piercing objects">Piercing objects</option>
<option value = "Sharp objects">Sharp objects</option>
<option value = "Unarmed">Unarmed</option>
<option value = "Unknown">Unknown</option>
<option value = "Vehicles">Vehicles</option>
                    </select>
        <br>
        <button type="submit">Search !</button>



    </p>
</form>



