<hr>
<h3>Please input age :</h3>

<form action= "/routing/search/by_age" method = "post">
    <p>
        <label>Age </label><input value="" name="age" />
        <br>
        <button type="submit">Search !</button>



    </p>
</form>



