<hr>
<h3>Please input Body Camera type:</h3>

<form action= "/routing/search/by_body_camera" method = "post">
    <p>

        <label>Body Camera : </label>
                    <select name="body_camera"  multiple>
                    <option value = "True">True</option>
                    <option value = "False">False</option>    
                    </select>
        <br>
        <button type="submit">Search !</button>



    </p>
</form>



