<hr>
<h3>Please input city :</h3>

<form action= "/routing/search/by_city" method = "post">
    <p>
        <label>City </label><input value="" name="city" />
        <br>
        <button type="submit">Search !</button>



    </p>
</form>



