<hr>
<h3>Please input date:</h3>

<form action= "/routing/search/by_date" method = "post">
    <p>
        <label>date </label><input type="date" name="date" />
        <br>
        <button type="submit">Search !</button>



    </p>
</form>



