<hr>
<h3>Please input flee status:</h3>

<form action= "/routing/search/by_flee_status" method = "post">
    <p>

        <label>Flee Status</label>
                    <select name="flee"  multiple>
                    <option value = "Car">Car</option>
                    <option value = "Foot">Foot</option>
                    <option value = "Not fleeing">Not Fleeing</option> 
                    <option value = "Other">Other</option>   
                    </select>
        <br>
        <button type="submit">Search !</button>



    </p>
</form>



