<hr>
<h3>Please input Gender :</h3>

<form action= "/routing/search/by_gender" method = "post">
    <p>

        <label>Gender : </label>
                    <select name="gender"  multiple>
                    <option value = "M">Male</option>
                    <option value = "F">Female</option>    
                    </select>
        <br>
        <button type="submit">Search !</button>



    </p>
</form>



