<hr>
<h3>Please input id :</h3>

<form action= "/routing/search/by_id" method = "post">
    <p>
        <label>Id </label><input value="" name="id" />
        <br>
        <button type="submit">Search !</button>



    </p>
</form>



