<hr>
<h3>Please input type of manner_of_death :</h3>

<form action= "/routing/search/by_manner_of_death" method = "post">
    <p>

        <label>Manner Of Death</label  multiple>
                    <select name="manner_of_death">
                    <option value = "shot">Shot</option>
                    <option value = "shot and Tasered">Shot and Tasered</option>    
                    </select>
        <br>
        <button type="submit">Search !</button>



    </p>
</form>



