<hr>
<h3>Please input name :</h3>

<form action= "/routing/search/by_name" method = "post">
    <p>
        <label>Name:  </label><input value="" name="name" />
        <br>
        <button type="submit">Search !</button>



    </p>
</form>



