<hr>
<h3>Please input Race :</h3>

<form action= "/routing/search/by_race" method = "post">
    <p>

        <label>Race :</label>
                    <select name="race"  multiple>
                    <option value = "Asian">Asian</option>
                    <option value = "Black">Black</option>  
                    <option value = "Hispanic">Hispanic</option>
                    <option value = "Native">Native</option> 
                    <option value = "Other">Other</option>
                    <option value = "White">White</option>   
                    </select>
        <br>
        <button type="submit">Search !</button>



    </p>
</form>



