<hr>
<h3>Please input Gender :</h3>

<form action= "/routing/search/by_signs_of_mental_illness" method = "post">
    <p>

        <label>Signs of mental illness : </label>
                    <select name="signs_of_mental_illness"  multiple>
                    <option value = "True">True</option>
                    <option value = "False">False</option>    
                    </select>
        <br>
        <button type="submit">Search !</button>



    </p>
</form>



