<hr>
<h3>Please input state:</h3>

<form action= "/routing/search/by_state" method = "post">
    <p>
        <label>State </label><input value="" name="state" />
        <br>
        <button type="submit">Search !</button>



    </p>
</form>



