<hr>
<h3>Please input threat level:</h3>

<form action= "/routing/search/by_threat_level" method = "post">
    <p>

        <label>Threat Level</label>
                    <select name="threat_level" multiple>
                    <option value = "attack">Attack</option>
                    <option value = "other">Other</option>
                    <option value = "undetermined">Undetermined</option>    
                    </select>
        <br>
        <button type="submit">Search !</button>



    </p>
</form>



