<hr>
<h2>Get state analysis using race as factor</h2>
<button><h1><a href="http://localhost:3000/routing/pieanalysis" target="_blank">Analyse</a></h1></button> <br>



<hr>
<h2>Create and Insert a record</h2>
<button><h1><a href="http://localhost:3000/routing/create" target="_blank">Insert data</a></h1></button> <br>

<hr>
<h2>List all data</h2>
<button><h1><a href="http://localhost:3000/routing/list" target="_blank">List data</a></h1></button> <br>

<hr>

<h2>Search Data by individual fields</h2>
<button><h1><a href="http://localhost:3000/routing/search" target="_blank">Search</a></h1></button><br>
<hr>
<h2>Search data using multiple filters</h2>
<button><h1><a href="http://localhost:3000/routing/search/by_multiple_filters" target="_blank">Search</a></h1></button><br>
<hr>
<h2>Update a Record</h2>
<button><h1><a href="http://localhost:3000/routing/update" target="_blank">Update</a></h1></button><br>
<hr>
<h2>Delete a Record</h2>
<button><h1><a href="http://localhost:3000/routing/remove" target="_blank">Delete</a></h1></button><br>



