<hr>
<h1> Search By individual fields </h1>
<button><h2><a href="http://localhost:3000/routing/search/by_id" target="_blank">Search By Id</a></h2></button> <br>
<button><h2><a href="http://localhost:3000/routing/search/by_name" target="_blank">Search By Name</a></h2></button> <br>
<button><h2><a href="http://localhost:3000/routing/search/by_date" target="_blank">Search By Date</a></h2></button> <br>
<button><h2><a href="http://localhost:3000/routing/search/by_manner_of_death" target="_blank">Search By Manner Of Death</a></h2></button> <br>
<button><h2><a href="http://localhost:3000/routing/search/by_armed_type" target="_blank">Search By Armed type</a></h2></button> <br>
<button><h2><a href="http://localhost:3000/routing/search/by_age" target="_blank">Search By Age</a></h2></button> <br>
<button><h2><a href="http://localhost:3000/routing/search/by_gender" target="_blank">Search By Gender</a></h2></button> <br>
<button><h2><a href="http://localhost:3000/routing/search/by_race" target="_blank">Search By Race</a></h2></button> <br>
<button><h2><a href="http://localhost:3000/routing/search/by_city" target="_blank">Search By City</a></h2></button> <br>
<button><h2><a href="http://localhost:3000/routing/search/by_state" target="_blank">Search By state</a></h2></button> <br>
<button><h2><a href="http://localhost:3000/routing/search/by_signs_of_mental_illness" target="_blank">Search By Signs of Mental Illness</a></h2></button> <br>
<button><h2><a href="http://localhost:3000/routing/search/by_threat_level" target="_blank">Search By Threat Level</a></h2></button> <br>
<button><h2><a href="http://localhost:3000/routing/search/by_flee_status" target="_blank">Search By Flee Status</a></h2></button> <br>
<button><h2><a href="http://localhost:3000/routing/search/by_body_camera" target="_blank">Search By Body Camera</a></h2></button> <br>
<button><h2><a href="http://localhost:3000/routing/search/by_arms_category" target="_blank">Search by Arms Category</a></h2></button> <br>

<hr>

